.cnt-form h3 {
    text-align: center;
    color: white;

}

.request-send {
    display: flex;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    justify-content: center;
}

.request-border {
    width: 43vw;
    height: auto;
    background-color: #043555;
    border-radius: 15px;
}

.request-send form {
    display: flex;
    flex-direction: column;
    padding: 2vw 2vw;
    max-width: 600px;
    border-radius: 10px;
}

.request-send input {
    height: 2rem;
    margin-top: 2rem;

}

.email {
    margin-top: 2rem;
}

.textarea {
    margin-top: 2rem;

}

.submit-btn {
    font-family: 'Libre Baskerville', serif;
    background-color: #ff7010;
    height: 2rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    width: 4rem;
    margin: auto;
    margin-top: 1rem;
    font-weight: 700;
}

.term-heading {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    width: 50vw;
    align-items: center;
    align-content: center;
    margin: auto;
    background-color: #043555;
}
.term-heading h1{
    margin-top: 1rem;
    color: #ff7010;
    margin-left: 1rem;
    margin-right: 1rem;
}
.term-heading p{
    text-align: center;
    margin: 1rem 0;
    color: white;
    line-height: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.bill{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    width: 50vw;
    align-items: center;
    align-content: center;
    margin: auto;
    margin-top: 2rem;
    background-color: #043555;
}
.bill h3{
    margin-top: 1rem;
    color: #ff7010;
    margin-left: 1rem;
    margin-right: 1rem;
}

.bill p{
    text-align: center;
    margin: 1rem 0;
    color: white;
    line-height: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.term-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 7rem;
    
}

@media (max-width:600px){
    .term-heading{
        margin-top: 4rem;
        width: 94vw;
    }
    .bill{
        width: auto;
    }
    .request-border{
        width: 83vw;
    }
   .cnt-form h3 {

        margin-top: 1rem;
    
    }
    
}